<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin Premium Bootstrap Admin Dashboard Template</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="static/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="static/assets/vendors/iconfonts/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="static/assets/vendors/iconfonts/typicons/src/font/typicons.css">
    <link rel="stylesheet" href="static/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="static/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="static/assets/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
	  
	  <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="static/assets/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700%7CSpace+Mono">
    <link rel="stylesheet" href="static/assets/summary/css/bootstrap.css">
    <link rel="stylesheet" href="static/assets/summary/css/fonts.css">
    <link rel="stylesheet" href="static/assets/summary/css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
	  
	  
	  
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="static/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="static/assets/css/forex_app/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="static/assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center" style="background-color: black">
          <a class="navbar-brand brand-logo" href="/">
            <img src="static/assets/images/logo2.png" alt="logo" /> </a>
          <a class="navbar-brand brand-logo-mini" href="/">
            <img src="static/assets/images/logo-mini.svg" alt="logo" /> </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <ul class="navbar-nav">
            
            <li class="nav-item dropdown language-dropdown">
              <a class="nav-link dropdown-toggle px-2 d-flex align-items-center" id="LanguageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <div class="d-inline-flex mr-0 mr-md-3">
                  <div class="flag-icon-holder">
                    <i class="flag-icon flag-icon-us"></i>
                  </div>
                </div>
                <span class="profile-text font-weight-medium d-none d-md-block">English</span>
              </a>
              <div class="dropdown-menu dropdown-menu-left navbar-dropdown py-2" aria-labelledby="LanguageDropdown">
                <a class="dropdown-item">
                  <div class="flag-icon-holder">
                    <i class="flag-icon flag-icon-us"></i>
                  </div>English
                </a>
                <a class="dropdown-item">
                  <div class="flag-icon-holder">
                    <i class="flag-icon flag-icon-fr"></i>
                  </div>French
                </a>
                <a class="dropdown-item">
                  <div class="flag-icon-holder">
                    <i class="flag-icon flag-icon-ae"></i>
                  </div>Arabic
                </a>
                <a class="dropdown-item">
                  <div class="flag-icon-holder">
                    <i class="flag-icon flag-icon-ru"></i>
                  </div>Russian
                </a>
              </div>
            </li>
          </ul>
          <form class="ml-auto search-form d-none d-md-block" action="#">
            <div class="form-group">
              <input type="search" class="form-control" placeholder="Search Here">
            </div>
          </form>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-bell-outline"></i>
                <span class="count">1</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
                <a class="dropdown-item py-3">
                  <p class="mb-0 font-weight-medium float-left">You have 1 unseen alert </p>
                  <span class="badge badge-pill badge-primary float-right">View all</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="static/assets/images/Devang.png" alt="image" class="img-sm profile-pic"> </div>
                  <div class="preview-item-content flex-grow py-2">
                    <p class="preview-subject ellipsis font-weight-medium text-dark">Devang Ghandi </p>
                    <p class="font-weight-light small-text"> Wow! Exceptional! A+ </p>
                  </div>
                </a>
              </div>
            </li>
            
            <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
              <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <img class="img-xs rounded-circle" src="static/assets/images/Devang.png" alt="Profile image"> </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <div class="dropdown-header text-center">
                  <img class="img-md rounded-circle" src="static/assets/images/Devang.png" alt="Profile image">
                  <p class="mb-1 mt-3 font-weight-semibold">Devang Ghandi</p>
                  <p class="font-weight-light text-muted mb-0">DGhanOnVacation@AOL.com</p>
                </div>
                <a class="dropdown-item">My Profile <span class="badge badge-pill badge-danger">1</span><i class="dropdown-item-icon ti-dashboard"></i></a>
                <a class="dropdown-item">Messages<i class="dropdown-item-icon ti-comment-alt"></i></a>
                <a class="dropdown-item">Activity<i class="dropdown-item-icon ti-location-arrow"></i></a>
                <a class="dropdown-item">FAQ<i class="dropdown-item-icon ti-help-alt"></i></a>
                <a class="dropdown-item">Sign Out<i class="dropdown-item-icon ti-power-off"></i></a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->

      <div class="container-fluid page-body-wrapper">

        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <!-- style="background-color: black"  style="background-color: black" -->
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="profile-image">
                  <img class="img-xs rounded-circle" src="static/assets/images/Devang.png" alt="profile image">
                  <div class="dot-indicator bg-success"></div>
                </div>
                <div class="text-wrapper">
                  <p class="profile-name">Devang Ghandi</p>
                  <p class="designation">Premium user</p>
                </div>
              </a>
            </li>
            <li class="nav-item nav-category">Main Menu</li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
<!--              <a class="nav-link" href="#"> &lt;!&ndash; TODO - change html page reference&ndash;&gt;-->
                <a class="nav-link" href="/interactive">
                <i class="menu-icon typcn typcn-bell"></i>
                <span class="menu-title">Interactive</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/summary"> <!-- TODO - change html page reference-->
                <i class="menu-icon typcn typcn-user-outline"></i>
                <span class="menu-title">App Summary</span>
            </a>
            <!-- <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="menu-icon typcn typcn-document-add"></i>
                <span class="menu-title">User Pages</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="../../pages/samples/blank-page.html"> Blank Page </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../../pages/samples/login.html"> Login </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../../pages/samples/register.html"> Register </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../../pages/samples/error-404.html"> 404 </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../../pages/samples/error-500.html"> 500 </a>
                  </li>
                </ul>
              </div>
            </li> -->
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper"> 
			
      <section class="section section-xl bg-image bg-image-dark text-center" style="background-image: url("static/assets/images/Machine_learning.jpg")">
        <div class="container">
          <h3>Launching Project LEDS in</h3>
          <div class="row justify-content-center">
            <div class="col-xl-8">
              <div class="countdown" data-countdown="data-countdown" data-to="2020-03-15">
                <div class="countdown-block countdown-block-days">
                  <svg class="countdown-circle" x="0" y="0" width="193" height="193" viewbox="0 0 193 193" data-progress-days="">
                    <circle class="countdown-circle-bg" cx="100" cy="100" r="90"></circle>
                    <circle class="countdown-circle-fg clipped" cx="100" cy="100" r="90"></circle>
                  </svg>
                  <div class="countdown-wrap">
                    <div class="countdown-counter" data-counter-days="">00</div>
                    <div class="countdown-title">days</div>
                  </div>
                </div>
                <div class="countdown-block countdown-block-hours">
                  <svg class="countdown-circle" x="0" y="0" width="193" height="193" viewbox="0 0 193 193" data-progress-hours="">
                    <circle class="countdown-circle-bg" cx="100" cy="100" r="90"></circle>
                    <circle class="countdown-circle-fg clipped" cx="100" cy="100" r="90"></circle>
                  </svg>
                  <div class="countdown-wrap">
                    <div class="countdown-counter" data-counter-hours="">00</div>
                    <div class="countdown-title">hours</div>
                  </div>
                </div>
                <div class="countdown-block countdown-block-minutes">
                  <svg class="countdown-circle" x="0" y="0" width="193" height="193" viewbox="0 0 193 193" data-progress-minutes="">
                    <circle class="countdown-circle-bg" cx="100" cy="100" r="90"></circle>
                    <circle class="countdown-circle-fg clipped" cx="100" cy="100" r="90"></circle>
                  </svg>
                  <div class="countdown-wrap">
                    <div class="countdown-counter" data-counter-minutes="">00</div>
                    <div class="countdown-title">minutes</div>
                  </div>
                </div>
                <div class="countdown-block countdown-block-seconds">
                  <svg class="countdown-circle" x="0" y="0" width="193" height="193" viewbox="0 0 193 193" data-progress-seconds="">
                    <circle class="countdown-circle-bg" cx="100" cy="100" r="90"></circle>
                    <circle class="countdown-circle-fg clipped" cx="100" cy="100" r="90"></circle>
                  </svg>
                  <div class="countdown-wrap">
                    <div class="countdown-counter" data-counter-seconds="">00</div>
                    <div class="countdown-title">seconds</div>
                  </div>
                </div>
              </div>
              <h5>Be the first to experience the POWER of true Machine Learning</h5>
              <!-- RD Mailform-->
              <form class="rd-mailform form_inline box-width-2 box-centered form_inline-centered" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                <div class="form-wrap">
                  <input class="form-input" id="subscribe-form-1-email" type="email" name="email" data-constraints="@Email @Required"/>
                  <label class="form-label" for="subscribe-form-1-email">Your E-mail</label>
                </div>
                <div class="form-button">
                  <button class="button  button-lg button-default button-ujarak" type="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
			  <div class="col-lg-4">
			  <img src="static/assets/images/Machine_learning.jpg" alt="" class="float-left"/>
				  </div>
			  <div style="padding-top: 12px; padding-left: 12px">
			<h4>
			  Machine learning has long since been a quest of man to truly harness the power of modern technology. While some consider the application of modern technology as a “tool” as a certain mastery, we challenge that idea. We ask you to ask yourselves, is true mastery of anything something that still requires effort? We think not! Thus, project “LEDS” was born. We have taken FOREX data and cracked the code. By building a machine that could rival the mind of Magnus Carlsen, we have found a way to accurately predict and buy/sell FOREX currency in real time, faster than any human could dream of doing. The LEDS machine can take in past and present FOREX data and cross reference it with current news articles (by gathering a sentiment score) and then predict the movement of a pair of currencies on the FOREX market in real time! </h4>
			
			
			  </div>
			
			
			
			
			
			
			</div>
          <!-- content-wrapper ends -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="static/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="static/assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="static/assets/js/shared/off-canvas.js"></script>
    <script src="static/assets/js/shared/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
	  
	  <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="static/assets/summary/js/core.min.js"></script>
    <script src="static/assets/summary/js/script.js"></script>
	  
	  
  </body>
</html>